body {
    height: 3000px;
    font-family: 'Poppins', sans-serif;
}

:root {
    --whiteColor: #fff;
    --blackColor: #292929;
    --grayColor: #f5f5f5;
}

.footer {
    background-color: rgb(121, 71, 71);
    padding: 30px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Start Header */

header {
    background-image: url('../images/banner-top.jpg');
    background-size: cover;
    background-position: center;
    height: 850px;
    position: relative;
}

.header_text {
    position: absolute;
    top: 17%;
}

.sub_title {
    font-size: 42px;
    font-weight: regular;
    color: var(--whiteColor);
}

.main_title {
    font-size: 4.1em;
    font-weight: bold;
    color: var(--whiteColor);
}

.header_text .check_link {
    color: var(--whiteColor);
    text-decoration: none;
    margin-top: 10%;
    display: block;
    font-weight: bold;
    text-transform: capitalize;
}

.header_text .check_link .line {
    width: 30px;
    height: 1.5px;
    background-color: var(--whiteColor);
    position: relative;
    top: 13px;
    left: -33px;
    display: block;
}

.small_lines {
    position: absolute;
    top: 38%;
    left: 4%;
}

@media(max-width:767px) {
    .small_lines {
        display: none
    }
}

.small_lines>span {
    width: 17px;
    height: 1.8px;
    background-color: #777;
    margin-bottom: 15px;
    display: block;
}

.small_lines span:nth-child(2) {
    width: 30px;
    background-color: var(--whiteColor);
}

/* End Header */

/* Start Boxes */

.boxes {
    margin-top: -5%;
}

.boxes .box_all {
    background-color: var(--whiteColor);
    height: 280px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 0 6px #eee;
}

@media (max-width:767px) {
    .boxes {
        margin-top: 5%;
    }
    .boxes .box_all {
        box-shadow: 0 0 6px transparent;
    }
}

.boxes .box_all svg {
    position: relative;
    top: 30px
}

@media (min-width:576px) and (max-width:767px) {
    .box_all {
        display: flex;
        height: 166px!important;
        margin-bottom: 12%;
    }
    .boxes .box_all svg {
        flex-basis: 35%;
    }
    .boxes .box_all .text_box {
        flex-basis: 65%;
        position: relative;
        top: 33px;
    }
    .boxes .box_all .sub_title {
        position: relative;
        top: -36%;
        margin: 0;
        margin-top: 0px;
        display: inline-block;
        left: 36%;
        width: 60%
    }
}

.boxes .box_all .sub_title {
    color: var(--blackColor);
    font-size: 21px;
    font-weight: bolder;
    margin-top: 42px;
}

.boxes .box_all .text_box {
    font-size: 0.9em;
    margin-top: 10px;
}

/* Start Boxes */

/* Start Discovery (Our Story) */

.discover_box {
    box-shadow: 0 0 0px 17px #eee;
    padding: 48px;
    position: relative;
    top: 68px;
    left: -150px;
    background-color: var(--whiteColor);
}

@media(max-width:767px) {
    .discover_box {
        left: 0
    }
}

@media (min-width:576px) and (max-width:767px) {
    .discover_box {
        box-shadow: 0 0 0px 4px #eee;
        padding: 48px;
        position: relative;
        top: -98px;
        left: 10px;
        background-color: var(--whiteColor);
        width: 96%;
    }
}

.discovery_prag {
    font-size: 0.9em;
}

.discovery_prag_two {
    margin-bottom: 37px;
}

.fount_text {
    font-size: 0.9em;
    margin-bottom: 0
}

/* End Discovery (Our Story) */

/* Start Discovery (Our Restaurants) */

.hachures {
    background-color: #eeeeee8c;
}

.our_restaurant {
    background-image: url("../images/burger party.png");
    background-size: cover;
    background-position: center;
    min-height: 364px;
    background-color: whitesmoke;
    /* margin-top: 12%; */
    position: relative;
    padding: 50px
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5ed;
}

.our_restaurant_text {
    z-index: 100;
    position: relative;
}

.our_restaurant_text .title_1 {
    font-size: 1.5em;
}

.our_restaurant_text .title_2 {
    font-weight: bold;
    font-size: 1.6em;
}

/* End Discovery (Our Restaurants) */

/* Bootstrap Style */

.bg-light {
    background-color: transparent!important;
    position: relative;
    top: 12px
}

.navbar-nav .nav-item .nav-link.active, .navbar-nav .nav-item .nav-link {
    color: var(--whiteColor);
    text-transform: capitalize;
    padding-right: 1em;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--whiteColor);
}

.navbar-light .navbar-brand {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-light .navbar-brand:hover {
    color: var(--whiteColor);
}

.menu-item-126 {
    background-color: var(--whiteColor);
    width: 100px;
    text-align: center;
    color: var(--blackColor);
}

.menu-item-126:last-child a {
    color: var(--blackColor);
    text-transform: uppercase;
    display: inline-block
}